
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;
}

a:hover{
    cursor: pointer;
    opacity: 1;
}


i{
    font-size: 30px;
}

nav{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 3px 10px #09090970;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

#s1{
    height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
   
} 

#s2{
   width: 100%;
    min-height: 100vh;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    gap: 40px; 
    padding: 20px;     

    
  
   
}

.card{
    
    height: 200px;
    border: 2px solid black;
    box-shadow: 0px 3px 2px rgb(0, 0, 0);
    border-radius: 2px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    
    

}

#s3{
    height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
   
}

#s4{
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;



}

.formulario{
    width: 300px;
    height: auto;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    border: 2px solid black;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    text-align: center;

}

.formulario label{
    padding: 10px;
    width: 100%;
    margin-bottom: -25px;


}

.formulario input{
    width: 100%;
    padding: 10px;
    min-width: 255px;
    width: 255px;

   
   
}

.formulario textarea{
    max-width: 100%;
    padding: 10px;
    min-width: 255px;
    width: 255px;
    padding: 10px;
    
   
}       



.formulario button{
    width: 100%;
    padding: 10px;
    background-color: rgb(7, 255, 172);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    
}

i{
    transition: all, 200ms ease-in-out;
}

i:hover{
    transform: translateY(-5px) scale(1,1);
    
}
